html, body {
	font-family: 'Alegreya SC', serif;
	height: 100%;
	margin: 0;
	padding: 0;
	size: 20px;
	background-color:#ffffff;
}

body{
	margin-top: 60px;
}



footer {
	background-color: #2d0000;
	padding: 15px;
	width: 100%;
}

p{
	font-size: 130%
}

.navbar-inverse {
	color:#eadabc;
	background-color: #2d0000;
	border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #eadabc;
}
.navbar-inverse .navbar-text {
  color: #eadabc;
}
.navbar-inverse .navbar-nav > li > a {
  color: #eadabc;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #590000;
}

iframe{
	border: none;
}

.btn-list{
	position:absolute;
	right: 10%;
	top: 10%;
	z-index: 10;
}
.i-btn, .i-btn:focus, .i-btn:active{
	opacity: .8;
	color: #eadabc;
	background-color: #3c3c3c;
	margin-bottom: 10px;
	
}

.i-btn:hover{
	margin:0;
	color: #eadabc;
	background-color: #4f4f4f;
	text-decoration: none;
}

